<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955612507216-53oi53bdgiq4nj9n5cb5fqi4m8eq75eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955612507216-53oi53bdgiq4nj9n5cb5fqi4m8eq75eh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>955612507216-03qrjpnbu79eb33fjafb2ltn3ms27mlk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEW0cV7VqAmIvLCeWt6GN_Vd7UYc3IIXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>955612507216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pssm</string>
	<key>PROJECT_ID</key>
	<string>psych-support-system-37213</string>
	<key>STORAGE_BUCKET</key>
	<string>psych-support-system-37213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955612507216:ios:5d2827c3b255cdfcc8b555</string>
</dict>
</plist>